Options +FollowSymLinks
Options +Indexes
RewriteEngine On

RewriteCond %{REQUEST_METHOD} ^GET$
RewriteCond %{REQUEST_URI} /taoItems/Items/eXULiS.swf$ [NC]
RewriteRule ^(.*)$ /taoItems/models/ext/itemRuntime/eXULiS.swf [L]

#RewriteCond %{REQUEST_METHOD} ^GET$
#RewriteCond %{REQUEST_URI} /taoItems/Items/listen.swf$ [NC]
#RewriteRule ^(.*)$ /taoItems/models/ext/itemRuntime/listen.swf [L]

#usual behavior for resources calls
RewriteCond %{REQUEST_URI} !/views/  [NC]
RewriteCond %{REQUEST_URI} !/test/  [NC]
RewriteCond %{REQUEST_URI} !/models/ext/  [NC]
RewriteCond %{REQUEST_URI} !/locales/  [NC]
#url resolving  
RewriteRule ^(.*)$ index.php [L]

