Options +FollowSymLinks
Options +Indexes
RewriteEngine On

RewriteCond %{REQUEST_METHOD} ^GET$
RewriteCond %{REQUEST_URI} (.*)/taoItems/Items/eXULiS.swf$ [NC]
RewriteRule ^(.*)$ ../taoItems/models/ext/itemRuntime/eXULiS.swf [L]

RewriteCond %{REQUEST_METHOD} ^GET$
RewriteCond %{REQUEST_URI} (.*)/taoItems/SaSItems/eXULiS.swf$ [NC]
RewriteRule ^(.*)$ ../taoItems/models/ext/itemRuntime/eXULiS.swf [L]


#rewrite the old item saving method 
RewriteCond %{REQUEST_METHOD} ^POST$
RewriteCond %{REQUEST_URI} (.*)/taoItems/SaSItems/index.php [NC]
#rewrite to the new saving action (chained to the other rules)
RewriteRule ^(.*)$ ../taoItems/models/ext/itemAuthoring/index.php [L]

#usual behavior for resources calls
RewriteCond %{REQUEST_URI} !/views/  [NC]
RewriteCond %{REQUEST_URI} !/test/  [NC]
RewriteCond %{REQUEST_URI} !/models/ext/  [NC]
RewriteCond %{REQUEST_URI} !/locales/  [NC]
#url resolving  
RewriteRule ^(.*)$ index.php [L]

