body {font-family:Arial, Helvetica, sans-serif; font-size:14px; }
h1, h2, h3, h4, h5, h6 {font-weight:bold; margin:3px 0px 6px 3px; }
/* TXT #009933 */h1 {font-size:18px; color:#009933; }
h2 {font-size:16px; }
h3 {font-size:14px; }
h4 {font-size:13px; }
h5 {font-size:12px; }
h6 {font-size:11px; }
p {margin:10px 0 10px 0; }
ol, ul, li {font-size:14px; }
.prompt {font-weight:bold; }
.field-error {background-color:transparent; background-image: url('../img/underline.gif'); background-repeat: repeat-x; background-position: bottom; }
.breaker {clear:both;}
.sizeEvaluator{position:absolute;top:-4000px;overflow:hidden;}
/* BD #009933 */.active {border:2px solid #009933 !important; }

/* qti widgets layout */
.qti_item {width:80%; margin:10px auto 70px auto;}
/* BD #009933 */ .qti_widget {border: 2px solid #009933; padding:20px; margin-bottom:10px; }
.qti_widget ol, .qti_widget ul {list-style: none; }
.qti_widget ol, .qti_widget ul, .qti_widget li {margin: 0; padding: 0; border: 0; font-size:100%; }
.qti_widget .qti_choice_list li .ui-draggable:hover{color:#009933;border-color:#009933;}
.qti_control{height:60px;position:relative;}

/* validation button */
/* TXT #333 */a#qti_validate {position:absolute; right:0%; margin:10px 0px 30px 0px; font-size:14px; font-weight:bold; text-decoration:none; color:#333; border:solid 1px #808080; border-top-color:#9F9F9F; border-left-color:#9F9F9F; padding:5px 7px 5px 7px; background-color:#e9e9e9; }
/* TXT #999 */a#qti_validate:hover {color:#999; }

/* choice interaction */
.qti_simple_interaction ul,.qti_multi_interaction ul, .qti_order_interaction ul {margin:20px 20px 0 20px; }
.qti_simple_interaction li,.qti_multi_interaction li, .qti_order_interaction li {width:450px; }
/* TXT #333 */.qti_simple_interaction li, .qti_multi_interaction li, .qti_order_interaction li {text-decoration:none; color:#333; font-size:14px; padding:0 0 5px 0; margin:5px 0; padding-left:20px; display:block; }
.qti_multi_interaction ul li.tabActive {background:url(../img/choice_multi_on.png) no-repeat; }
.qti_simple_interaction ul li.tabActive {background:url(../img/choice_on.png) no-repeat; }
.qti_simple_interaction li {background:url(../img/choice_off.png) no-repeat; }
.qti_multi_interaction li {background:url(../img/choice_multi_off.png) no-repeat; }

/* Order interaction */
/* BD #999 BG #eee*/.qti_order_interaction li{border:3px solid #999; margin-bottom:10px; margin-right:5px; padding-top:5px; background:#eee;}
.qti_order_interaction ul.ui-sortable li:hover{cursor:move;}
/* BD #666 */.qti_order_interaction li.sort-placeholder{border: dashed 2px #666;}
.qti_choice_list_horizontal{position:relative;}
.qti_choice_list_horizontal li{float:left;}

/* Associate interaction */
/* TXT #333 */.qti_associate_interaction .qti_choice_list li div {color:#333; font-weight:bold; border:1px solid #999; }
.qti_associate_interaction .qti_choice_list li:hover, .qti_association_pair .filled_pair:hover{cursor:move; }
/* BG #ccc */.qti_associate_interaction .qti_choice_list li div {float:left; margin:5px 0 0 15px; line-height:20px; background:#ccc; padding:0 5px; }
.qti_association_pair {	clear:both; position:relative; margin:20px 0; }
/* BD #999 */.qti_association_pair li {border:2px solid #999; float:left; margin:10px 15px 10px 15px; padding:5px; height:15px; text-align:center; font-weight:bold; }
/* BD #999 */.qti_link_associate {position:absolute; border-top:2px solid #999; width:32px; }
/* BD #999 */.qti_association_pair li.ui-state-highlight  {position:relative; background:#ccc; border:2px dashed #999; }
/* BD #666 BG #ccc */.qti_association_pair li.ui-state-highlight .filled_pair  {position:absolute; padding:5px; border:2px solid #666; background:#ccc; top:-2px; left:-2px; }
/* TXT #000 */.qti_association_pair li.ui-state-highlight a  {text-decoration:none; color:black; }
/* BD #999 BG #eee */.qti_associate_interaction .qti_choice_list {background:#eee; border:2px solid #999; }
/* BG #FF0000 */.qti_associate_interaction br {clear:both; position:relative; display:block; background:red; }

/* hottext */
.qti_hottext_interaction * {line-height:26px; 	}
/* BD #c0c0c0 BG #dfdfdf */.hottext_choice {border:solid 1px #c0c0c0; background-color:#dfdfdf; padding:3px 5px 3px 15px; -moz-border-radius:3px; cursor: pointer; }
.hottext_choice_off {background-image:url('../img/hottext_off.png'); background-repeat:no-repeat; background-position: 0px 2px; }
/* BD #009933 */.hottext_choice_off:hover {border-color:#009933; }
/* BD #009933 TXT #009933 */.hottext_choice_on {background-image:url('../img/hottext_on.png'); background-repeat:no-repeat; background-position: 0px 2px; border-color:#009933; color:#009933; }
/* BD #c0c0c0 */.hottext_choice_on:hover {border-color:#c0c0c0; }

/* used by text_entry and extended_text interactions */
input[type='text'],textarea {border: solid 1px #555; border-bottom-color: #CCC; border-right-color: #CCC; }
textarea {width:400px; height:100px; margin:auto; 	}

/* Gap Match */
/* TXT #333 */.qti_gap_match_interaction .qti_choice_list li {color:#333; font-weight:bold; }
.qti_gap_match_interaction .qti_choice_list li:hover, .qti_gap_match_interaction .filled_gap:hover {cursor:move; 	}
/* BG #ccc */.qti_gap_match_interaction .qti_choice_list li div {margin:5px 0 5px 15px; line-height:20px; background:#ccc; padding:0 5px; float: left; }
/* BD #999999 BG #eee */.qti_gap_match_interaction .qti_choice_list {background-color:#eee; border:2px solid #999999; 	}
.qti_gap_match_interaction {line-height:25px; }
/* BD #999999 BG #eee */.qti_gap_match_interaction .gap {border: solid 2px #999999; background-color:#eee; padding:2px 25px 2px 25px; margin: 0px 5px 0px 5px; font-weight:bold; }
/* BD #666 BG #ccc */.qti_gap_match_interaction .dropped_gap {border: solid 2px #666; background-color:#ccc; }
/* BD #999 BG #ccc */.qti_gap_match_interaction span.ui-state-highlight  {background-color:#ccc; border:2px dashed #999; }

/* Match */
/* BD #ccc BG #eee TXT #555 */.qti_match_interaction .choice_list li  {line-height:25px; padding:0px 5px 0px 5px; font-weight:bold; color:#555; background-color: #eee; border: solid 1px #ccc; }
.qti_match_interaction .choice_list_cols li {padding:5px;float:left;position:relative;}
.qti_match_interaction .choice_list_cols li div{position: absolute; bottom: 0px; padding:5px; left:-1px; font-weight:bold; color:#555; background-color: #eee; border: solid 1px #ccc; vertical-align: middle;}
.qti_match_interaction .choice_list_rows {float:left; padding-top:35px; margin-bottom:35px;}
.qti_match_interaction .match_node_container {position:relative; top:35px; margin-bottom:35px;}
/* BD #ccc */.qti_match_interaction .match_node {position:absolute; width:16px; height:25px; padding:0px 5px 0px 5px; background:url(../img/choice_multi_off.png) no-repeat; background-position: center center; cursor:pointer; border: solid 1px #ccc; }
/* BD #ccc */.qti_match_interaction .tabActive {background:url(../img/choice_multi_on.png) no-repeat; background-position: center center; }
.qti_match_interaction {x-overflow: scroll; }

/* Graphic order */
/* BD #666 */.qti_graphic_order_interaction .pickup_area{margin:15px 0;border:2px solid #666;padding:5px;position:absolute;}
/* TXT #009933 */.qti_graphic_order_interaction .pickup_area li{float:left;margin-right:5px;font-family:Verdana;color:#009933;font-weight:bold;cursor:pointer;font-size:16px;padding:2px;}
/* TXT #009933 */.qti_graphic_order_interaction .pickup_area li a{color:#009933;text-decoration: none;}
/* TXT #ffffff BG #666 */.qti_graphic_order_interaction .pickup_area li.selected{color:#ffffff;background:#666;}
.dummySizer{position:relative;}

/* Graphic association */
/* TXT #009933 BD #666 */.link_counter{font-size:16px;padding-left:35px;padding-top:5px;font-weight:bold;color:#009933;margin-top:15px;border:2px solid #666;width:110px;height:25px;background:url(../img/link.png) no-repeat 10px;}
/* TXT #009933 BD #666 */.sub_counter{font-size:16px;padding-left:35px;padding-top:5px;font-weight:bold;color:#009933;margin-top:15px;border:2px solid #666;width:110px;height: 25px;background:url(../img/sublink.png) no-repeat;}
.infiniteSize{font-size:24px;}

/* Graphic Gap Match */
/* BD #999 BG #eee */ .qti_graphic_gap_match_interaction .qti_graphic_gap_match_spotlist{background-color:#eee; border:2px solid #999; padding:5px; }
.qti_graphic_gap_match_interaction .qti_graphic_gap_match_spotlist li {float:left;margin-right:5px;}
/* TXT #009933 BD #CCC */.qti_graphic_gap_match_interaction .qti_graphic_gap_match_spotlist li > div{font-family:Verdana;color:#009933; border:1px solid #CCC;font-weight:bold;cursor:pointer;font-size:16px;padding:2px;}
.qti_graphic_gap_match_interaction .svg-container{position:relative;}
.qti_graphic_gap_match_interaction .svg-container .filled_gap{position:absolute;padding:2px;}

/* Slider */
.qti_slider_interaction{padding:15px;}
/* TXT #009933 */.qti_slider_label span{color:#009933; font-weight:bold;position:absolute;}
.qti_slider_horizontal .qti_slider_label{ height:1em; padding:0; margin:0; position:relative; left:-10px; top:5px;}
.qti_slider_horizontal .qti_slider_label .slider_min{left:0;}
.qti_slider_horizontal .qti_slider_label .slider_max{right:0;}
.qti_slider_vertical .qti_slider{float:left;}
.qti_slider_vertical .qti_slider_label{ width:25px; padding:0; margin:0; position:relative; top:-7px; left:5px;}
.qti_slider_vertical .qti_slider_label .slider_min{top:0;}
.qti_slider_vertical .qti_slider_label .slider_max{bottom:0;}