body.wysiwyg{
	margin: 5px 2px;
}

input{
	cursor: pointer;
}

div.qti_interaction_block{
	display:block;
	width:99%;
	text-align:center;
	height:75px;
	border: solid #009933 2px;
	margin:auto;
	padding-top:10px;
	position:relative;
	cursor: default;
}

div.qti_interaction_inline{
	display:inline;
	text-align:center;
	border: solid #009933 2px;
	margin:none;
	padding:2px 1px 2px 1px;
	position:relative;
	cursor: default;
}

div.qti_object_block{
	display:block;
	text-align:center;
	border: solid #009933 2px;
	margin:none;
	padding:2px 1px 2px 1px;
	position:relative;
	cursor: default;
}

div.qti_interaction_block input.qti_interaction_link{
	padding:20px;
}

span.qti_interaction_box_delete{
	position: absolute;
	right: 1px;
	top: 1px;
	cursor: pointer;
	height: 16px;
	width: 16px;
	background-image: url("../img/qtiAuthoring/delete.png");
	background-repeat: no-repeat;
}

span.qti_object_delete{
	position: absolute;
	right: 1px;
	top: 1px;
	cursor: pointer;
	height: 16px;
	width: 16px;
	background-image: url("../img/qtiAuthoring/delete.png");
	background-repeat: no-repeat;
}

div.qti_interaction_block span.qti_interaction_box_delete {
	right: 10px;
	top: 10px;
}

div.qti_choice_box {
	display:inline;
	text-align:center;
	border: solid #009933 2px;
	margin:none;
	padding:2px 1px 2px 1px;
	position:relative;
	cursor: pointer;
}
/*div.qti_interaction_block span.qti_interaction_box_delete {margin-right: 10px;}*/

div.qti-wysiwyg-mediabox{border:medium solid black; position:relative; height:30px; width:30px; text-align:center}