
#qtiAuthoring_itemEditor{
	height: 580px;
	overflow-x:scroll;
}

#qtiAuthoring_itemEditor > div.wysiwyg{
	height: 96%;
	padding: 0px 5px;
	border: none;
}

#itemEditor_wysiwyg{
	width:90%;
}

#interactionEditor_wysiwyg{
	width:90%;
}

#qtiAuthoring_item_container{
	width: 100%;
	height: 100%;
	position: relative;
	top:0%;
	left:0%;
}
#qtiAuthoring_item_left_container{
	float:left;
	width:25%;
	padding:0px;
}
#qtiAuthoring_item_right_container{
	float:left;
	width:75%;
	padding:0px;
}

#qtiAuthoring_interaction_container{
	width: 100%;
	height: 100%;
	position: relative;
	left:0%;
	top:100%;
	padding:2px 5px;
}

#qtiAuthoring_interaction_left_container{
	float:left;
	width:60%;
}

#qtiAuthoring_interaction_right_container{
	float:left;
	width:40%;
}

#qtiAuthoring_interactionEditor{
	padding-right: 10px;
}

div.qti-authoring-form-container{
	padding: 8px;
}

div.add_choice_button{
	min-height: 30px;
	margin: 10px 8px;
}

div.add_choice_button a{
	border-color:#CCCCCC #AAAAAA #AAAAAA #CCCCCC;
	border-style:solid;
	border-width:1px;
	margin-left:0;
	margin-right:5px;
	padding:3px 6px;
	text-decoration:none;
}

div.add_choice_button a:hover{
	color:#D00239;
}

div.qti-authoring-form-container-column{
	float: left;
	width:48%;
}

