#qtiAuthoring_left_container {
	width: 70%;
}

#qtiAuthoring_itemEditor{
	overflow: scroll;
}

#itemEditor_wysiwyg{
	width:70%;
}

#qtiAuthoring_rigth_container{
	position: absolute;
	top:0%;
	left:71%;
	width:29%;
	height: 100%;
}