/*uploadify made smaller*/
div.xhtml_form div.file-uploader .uploadifyQueueItem, .uploadifyQueueItem {
	width: auto;
	padding:auto;
}

div.xhtml_form div.file-uploader .uploadifyProgress, .uploadifyProgress {
	width: auto;
}

/*accordion sizing*/
.ui-accordion .ui-accordion-header {
	cursor:pointer;
	height:16px;
	position:relative;
}

.ui-accordion .ui-accordion-header a {
	padding: 0 0 0 2.2em;
	font-weight: bold;
}


/*html area for the prompt input fields*/
div.xhtml_form div textarea{
	width: 63%;
}
div.xhtml_form div div.wysiwyg{
	width: 63% !important;
}
div.xhtml_form div div.wysiwyg iframe, div.xhtml_form div div.wysiwyg iframe html{
	width: 100% !important;
}

/*choice buttons*/
span.choice-button-delete, span.choice-button-advanced, span.choice-button-up, span.choice-button-down{
	float: left;
}

/*advanced choice properties group offset*/
div.xhtml_form div.form-group{
	position:relative;
	left:20px;
	top:15px;
	width:85%;
}

div.formContainer_choice div.xhtml_form form{
	margin-bottom: 30px;
}

/*sizing the main containers*/
#qtiAuthoring_itemEditor{
	height: 580px;
	overflow-x:scroll;
}

#qtiAuthoring_itemEditor > div.wysiwyg{
	height: 96%;
	padding: 0px 5px;
	border: none;
}

#itemEditor_wysiwyg{
	width:90%;
}

#interactionEditor_wysiwyg{
	width:90%;
}

#qtiAuthoring_item_container{
	width: 100%;
	height: 100%;
	position: relative;
	top:0%;
	left:0%;
}
#qtiAuthoring_item_left_container{
	float:left;
	height:600px;
	width:25%;
	padding:0px;
}
#qtiAuthoring_item_right_container{
	float:left;
	width:75%;
	padding:0px;
}

#qtiAuthoring_interaction_container{
	width: 100%;
	height: 100%;
	position: relative;
	left:0%;
	top:100%;
	padding:2px 5px;
}

#qtiAuthoring_interaction_left_container{
	float:left;
	width:60%;
}

#qtiAuthoring_interaction_right_container{
	float:left;
	width:40%;
}

#qtiAuthoring_interactionEditor{
	padding-right: 10px;
}

div.qti-authoring-form-container{
	padding: 8px;
}

div.add_choice_button{
	min-height: 30px;
	margin: 10px 8px;
}

div.add_choice_button a{
	border-color:#CCCCCC #AAAAAA #AAAAAA #CCCCCC;
	border-style:solid;
	border-width:1px;
	margin-left:0;
	margin-right:5px;
	padding:3px 6px;
	text-decoration:none;
}

div.add_choice_button a:hover{
	color:#D00239;
}

div.qti-authoring-form-container-column{
	float: left;
	width:48%;
}

/* jwysiwyg action buttons: */
div.wysiwyg ul.panel li.addInteraction{ background: url('../img/qtiAuthoring/application_view_gallery.png'); }