<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=8" />
		<title>School questionnaire</title>
<!--		<base href="{base}" />-->
		<link rel="stylesheet" type="text/css" href="{RELATIVE_PATH_TO_PREVIEW_BASE}/css/locale.css" media="screen"/>
		<link rel="stylesheet" type="text/css" href="{RELATIVE_PATH_TO_PREVIEW_BASE}/css/reset.css" media="screen"/>
		<link rel="stylesheet" type="text/css" href="{RELATIVE_PATH_TO_PREVIEW_BASE}/css/item.css" media="screen"/>
		<link rel="stylesheet" type="text/css" href="{RELATIVE_PATH_TO_PREVIEW_BASE}/lib/jquery/ui/themes/base/jquery.ui.all.css" media="screen"/>
<!--		<link rel="stylesheet" type="text/css" href="../styles/app.css" media="screen"/>-->
		<script type="text/javascript" src="{RELATIVE_PATH_TO_PREVIEW_BASE}/lib/jquery/jquery.js"></script>
		<script type="text/javascript" src="{RELATIVE_PATH_TO_PREVIEW_BASE}/lib/jquery/ui/jquery-ui-1.8.4.custom.js"></script>
<!--		<script type="text/javascript" src="jscript/js_translation.js"></script>-->
		<script type="text/javascript" src="{RELATIVE_PATH_TO_PREVIEW_BASE}/jscript/slider.js"></script>
<!--		<script type="text/javascript" src="jscript/templateGenerator.js"></script>-->

		<!--[if IE]>
			<link rel="stylesheet" type="text/css" href="css/ie.css" media="screen"/>
		<![endif]-->

	</head>
	<body>
		{content}
	</body>
</html>